{% extends "_layout" %}
{% set title = "Blog" %}

{% block content %}
  <h1>Blog</h1>

  <div class="card-deck">
    {% for entry in craft.entries.section('blog').find() %}
    {% set featuredImage = entry.featuredImage.first() %}
    <article class="card">
      <img class="card-img-top img-responsive" src="{{ featuredImage.getUrl('thumb') }}" alt="{{ featuredImage.altText }}">
      <div class="card-block">
        <h4 class="card-title"><a href="{{ entry.url }}">{{ entry.title }}</a></h4>
        <p class="card-text">{{ entry.summary }}</p>
        <p class="card-text"><small class="text-muted">Published {{ entry.postDate.format('F d, Y') }}</small></p>
      </div>
    </article>
    {% endfor %}
  </div>

{% endblock %}
